body {
    text-align: center;
}

h2.active {
    border-color: red;
    border-width: 2px;
    border-style: solid;
    background-color: lavenderblush;
}

.hand-cards {
    margin: 50px auto;
}

.card {
    display: inline-block;
    background-color: gainsboro;
    margin: 2px;
}

.card.selected {
    border-color: red;
}

#player .hand-cards .card {
    cursor: pointer;
}

.discard-pile, #player .draw-pile {
    cursor: pointer;
}

.piles {
    display: flex;
    justify-content: center;
}
